<!DOCTYPE html>
<html>
<head></head>
<body>
    <a href="/admin/pro">Product</a>
    <a href="/admin/cat">Category</a>
    <a href="/admin/user">User</a>
    <a href="/admin/order">Order</a>
    <a href="/admin/logout">Logout</a>
    <h2>Category form </h2>
    <p>This is function of adminstrator to insert, edit, delete one Category.</p>
    <p><a href="/admin/add-cat"> New Category</a></p>
    <table style="width:100%; border : 1">
        <tr>
            <th>Name</th>
            <th colspan="2"></th>
        </tr>
        <%cats.forEach(cat=>{%>
            <tr style="text-align: center;">
                <td><%=cat.name%></td>
                <td><a href="/admin/delete-cat?id=<%=cat.id%>">Delete</a></td>
                <td><a href="/admin/edit-cat?id=<%=cat.id%>">Edit</a></td>
            </tr>    
        <%})%>
    </table>
</body>

</html>